<ng-container *ngIf="$deckState | async as $vm">
  <div
    class="slide"
    [ngClass]="{ quiz: showQuiz }"
    (click)="handleClick($event, $vm)"
  >
    <div class="quiz-content" *ngIf="getQuizData($vm) as quiz">
      <div class="quiz">
        <div class="question">{{ quiz.question }}</div>
        <ol class="options" (click)="onRevealAnswer()">
          <li
            class="option"
            [ngClass]="{
              answer:
                isQuizAnswer(quiz.options, option, quiz.answer) && revealAnswer
            }"
            *ngFor="let option of quiz.options"
          >
            {{ option }}
          </li>
        </ol>
      </div>
    </div>
    <div class="content">
      <h1 class="title">{{ $vm.currentSlide?.title }}</h1>
      <ng-container
        *ngFor="let contentItem of $vm.currentSlide?.contents; index as i"
      >
        <ng-container *ngIf="contentItem.type === 'text'">
          <p [class]="contentItem.role">{{ contentItem.content }}</p>
        </ng-container>
        <ng-container *ngIf="contentItem.type === 'list'">
          <ul>
            <li *ngFor="let listItem of contentItem.items">
              {{ listItem.content }}
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="contentItem.type === 'code'">
          <pre><code class="language-typescript" [class]="'code'">{{ contentItem.code }}</code></pre>
        </ng-container>
        <ng-container *ngIf="contentItem.type === 'question'">
          <button class="quiz-btn" (click)="onShowQuiz()">Quiz!</button>
        </ng-container>
        <ng-container *ngIf="contentItem.type === 'image'">
          <div class="img-wrap">
            <img
              [src]="contentItem.src"
              [alt]="contentItem.alt"
              [class]="contentItem.class"
            />
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="counter">{{ getSlideNumberText($vm) }}</div>
  </div>
</ng-container>
